<% include ./partials/head %>
  
<header>
    <h2>uma seleção de produtos</h2>
    <h1>especial para você</h1>
    <h3>
      Todos os produtos desta lista foram selecionador a parir da sua navegação.
      Aproveite!
    </h3>

</header>

<body>
    <h2>Olá, Fulano</h2>
    <br>
    <h3>Fizemos uma lista especial de produtos apenas para você. Isso mesmo: nesta lista temos só produtos que você pode gostar. Seu amigo Ciclano lhe recomendou essa lista especial. Olha só:</h3>
    <br>
    <main class="products" id="products">
            <p>Sua seleção especial</p>
  
            <div class="products-list " id="products-list">
                       
                <article  class="product" >
                  <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6875461"  alt="...">
                  <div class="product-body">
                    <h3 class="product-name">Product Number 0 </h5>
                    <p class="product-description">Product long description number 0 just to make more than one like of text.</p>
                    <h5 class="old-price">De R$199</h5>
                    <h4 class="price">Por R$160</h4>
                    <h6 class="installments">ou 10x de R$16</h6>
                    <button class="btn-products">Comprar</button>
                  </div>
                </article>
  
                <article  class="product" >
                  <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6670538"  alt="...">
                  <div class="product-body">
                    <h3 class="product-name">Product Number 1 </h5>
                    <p class="product-description">Product long description number 1 just to make more than one like of text. </p>
                    <h5 class="old-price">De R$267</h5>
                    <h4 class="price">Por R$224</h4>
                    <h6 class="installments">ou 10x de R$22.4</h6>
                    <button class="btn-products">Comprar</button>
                  </div>
                </article>

                <button>Tem muito mais aqui. Vem ver</button>
    </main>

    <% include ./partials/footer %>
</body>
</html>
