<% include ./partials/head %>
  <% include ./partials/header %>


    <body>

      <main>
        <section class="help-register" >
          <div class="container-help-register">
            <div class="help">
              <h1>Ajude o algorítmo a ser mais certeiro</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                ultricies tellus nec mi porta convallis sollicitudin eu urna. Mauris
                rhoncus erat sed interdum dignissim. Suspendisse semper pretium
                consectetur. Praesent bibendum arcu risus, sit amet iaculis ex tempus
                quis. Cras et erat ut tellus vulputate tincidunt. Aenean lacinia
                euismod augue vel egestas. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos. Vestibulum vel
                urna tortor. Vivamus et arcu non felis tristique eleifend.
                <br>
                <br>
                Morbi eu condimentum urna. Curabitur eu magna eget turpis condimentum ultrices.
                Suspendisse quis lorem ultricies, pulvinar purus sed, egestas erat.
                Etiam ultricies a ante vehicula pharetra. Quisque ut neque mattis,
                consequat velit ut, ultrices orci. Nulla varius elementum erat vel
                pharetra. Aenean sit amet nisi diam. Morbi viverra, magna ac luctus
                commodo, odio ante suscipit libero, at mattis augue est vel metus.
              </p>
            </div>

            <div class="register">
              <form action="" method="POST">
                <div class="form-register">
                  <label for="name" name="nome">Seu nome</label>
                  <input class="input-form" type="text">
                  <br>

                  <label for="email" name="email">E-mail</E-mail></label>
                  <input class="input-form" type="email">
                  <br>

                  <label for="cpf" nome="cpf">CPF</label>
                  <input class="input-form" type="text">
                  <br>

                  <div class="genre">
                    <label class="checkbox">
                      <input type="radio" name="genre" value="Masculino">
                      Masculino
                    </label>

                    <label class="checkbox">
                      <input type="radio" name="genre" value="Feminino">
                      Feminino
                    </label>
                  </div>
                </div>
                <br>
                <button type="submit" name="btn-register" class="btn-form">Enviar</button>
              </form>
            </div>

          </div>
        </section>


        <section class="products" id="products">
          <p>Sua seleção especial</p>

          <div class="products-list " id="products-list">
                     
              <article  class="product" >
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6875461"  alt="...">
                <div class="product-body">
                  <h3 class="product-name">Product Number 0 </h5>
                  <p class="product-description">Product long description number 0 just to make more than one like of text.</p>
                  <h5 class="old-price">De R$199</h5>
                  <h4 class="price">Por R$160</h4>
                  <h6 class="installments">ou 10x de R$16</h6>
                  <button class="btn-products">Comprar</button>
                </div>
              </article>

              <article  class="product" >
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6670538"  alt="...">
                <div class="product-body">
                  <h3 class="product-name">Product Number 1 </h5>
                  <p class="product-description">Product long description number 1 just to make more than one like of text. </p>
                  <h5 class="old-price">De R$267</h5>
                  <h4 class="price">Por R$224</h4>
                  <h6 class="installments">ou 10x de R$22.4</h6>
                  <button class="btn-products">Comprar</button>
                </div>
              </article>

              <article  class="product" >
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6829307"  alt="...">
                <div class="product-body">
                  <h3 class="product-name">Product Number 2 </h5>
                  <p class="product-description">Product long description number 2 just to make more than one like of text. </p>
                  <h5 class="old-price">De R$382</h5>
                  <h4 class="price">Por R$365</h4>
                  <h6 class="installments">ou 10x de R$36.5</h6>
                  <button class="btn-products">Comprar</button>
                </div>
              </article>

              <article  class="product" >
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6747399"  alt="...">
                <div class="product-body">
                  <h3 class="product-name">Product Number 3</h5>
                  <p class="product-description">Product long description number 3 just to make more than one like of text. </p>
                  <h5 class="old-price">De R$231</h5>
                  <h4 class="price">Por R$193</h4>
                  <h6 class="installments">ou 10x de R$19.3</h6>
                  <button class="btn-products">Comprar</button>
                </div>
              </article>

              <article  class="product" >
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=5783178"  alt="...">
                <div class="product-body">
                  <h3 class="product-name">Product Number 4 </h5>
                  <p class="product-description">Product long description number 4 just to make more than one like of text. </p>
                  <h5 class="old-price">De R$348</h5>
                  <h4 class="price">Por R$311</h4>
                  <h6 class="installments">ou 10x de R$31.1</h6>
                  <button class="btn-products">Comprar</button>
                </div>
              </article>

              <article  class="product" >
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6829158"  alt="...">
                <div class="product-body">
                  <h3 class="product-name">Product Number 5 </h5>
                  <p class="product-description">Product long description number 5 just to make more than one like of text. </p>
                  <h5 class="old-price">De R$435</h5>
                  <h4 class="price">Por R$419</h4>
                  <h6 class="installments">ou 10x de R$41.9</h6>
                  <button class="btn-products">Comprar</button>
                </div>
              </article>

              <article  class="product" >
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=6829158"  alt="...">
                <div class="product-body">
                  <h3 class="product-name">Product Number 6 </h5>
                  <p class="product-description">Product long description number 6 just to make more than one like of text. </p>
                  <h5 class="old-price">De R$189</h5>
                  <h4 class="price">Por R$163</h4>
                  <h6 class="installments">ou 10x de R$16.3</h6>
                  <button class="btn-products">Comprar</button>
                </div>
              </article>

              <article  class="product" >
                <img src="//imagens.pontofrio.com.br/Control/ArquivoExibir.aspx?IdArquivo=5783178"  alt="...">
                <div class="product-body">
                  <h3 class="product-name">Product Number 7 </h5>
                  <p class="product-description">Product long description number 7 just to make more than one like of text. </p>
                  <h5 class="old-price">De R$315</h5>
                  <h4 class="price">Por R$275</h4>
                  <h6 class="installments">ou 10x de R$27.5</h6>
                  <button class="btn-products">Comprar</button>
                </div>
              </article>
                         
          </div>

        </section>


        <section class="share-news" id="share-news">
          <p>Compartilhe a novidade</p>

          <h2>Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!</h2>

          <div class="form-share">
            <form action="" method="POST">

              <div class="form-share" id="div-form">
                <label  for="name" name="nome-amigo">Nome do seu amigo</label>
                <input class="input-form" type="text">

                <label  for="email" name="email-amigo">E-mail</E-mail></label>
                <input class="input-form" type="email">
              </div>

              <button type="submit" name="btn-share" class="btn-form">Enviar agora</button>

            </form>
          </div>
        </section>
      </main>


      <% include ./partials/footer %>
    </body>

    </html>