/*form of register*/
.form-register {
    display: block;
    
    font: normal normal normal 12px/14px Helvetica Neue;
  }

/*form of share*/
.form-share {
  display: block;
  margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 1rem;
  }

  #div-form{
    text-align: left;
  }

  /*input forms*/

  .input-form{
    width:100%;
  }
 